PORT=3001
SERVICE_NAME="Api Gateway"
SERVICE_URI="http://localhost:3001"
USER_SERVICE_URI="http://localhost:8000"
PRODUCT_SERVICE_URI="http://localhost:8001"
CART_SERVICE_URI="http://localhost:8002"
ORDER_SERVICE_URI="http://localhost:8003"


JWT_SECRET=