PORT=
SERVICE_NAME="Product-Service"
PRODUCT_SERVICE_URI=

# Migrations (session pooler, port 5432) its DIRECT_URL
DATABASE_URL=

//jwt secret keys
JWT_SECRET=


//CLOUDINARY credentials
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=


//Redis setup
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=