PORT=
USER_SERVICE_URI=

//Database Connection url
DATABASE_URL=

//jwt secret keys
JWT_SECRET=

//email host
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_APP_PASSWORD=

//Redis setup
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=