PORT=8002
SERVICE_NAME="Cart-Service"
CART_SERVICE_URI=""

//Redis setup
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# Migrations (session pooler, port 5432)....Its Direct URL
DATABASE_URL=""


//jwt secret keys
JWT_SECRET=



