PORT=8003
SERVICE_NAME="Order-Service"
ORDER_SERVICE_URI=

//different service URIs
USER_SERVICE_URI=
PRODUCT_SERVICE_URL=
CART_SERVICE_URL=


//Redis setup
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=


# Migrations (session pooler, port 5432) its DIRECT_URL
DATABASE_URL=

//jwt secret keys
JWT_SECRET=